<head>
  <!-- <link href="http://gmpg.org/xfn/11" rel="profile"> -->

  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta name="title" content="{{ page.title }}" />
  <!-- add description and keywords for SEO -->
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  {% if page.keywords %}
    <meta name="keywords" content="{{ page.keywords }}" />
  {% else %}
    <meta name="keywords" content="programmation pédagogie teck" />
  {% endif %}

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  {% if page.url and site.baseurl %}
  <link rel="canonical" href="{{ page.url | absolute_url }}">
  {% endif %}
  <link rel="stylesheet" href="{{ '/pub/css/bootstrap/css/bootstrap.css' | absolute_url }}">
  <link rel="stylesheet" href="{{ '/pub/css/poole.css' | absolute_url }}">
  <link rel="stylesheet" href="{{ '/pub/css/syntax.css' | absolute_url }}">
  <link rel="stylesheet" href="{{ '/pub/css/lanyon.css' | absolute_url }}">
 
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">
  <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"> -->
<!-- Navgoco -->
  <!-- <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script> -->
  <script
			  src="https://code.jquery.com/jquery-3.6.0.min.js"
			  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
			  crossorigin="anonymous"></script>
  <script type="text/javascript" src="{{ '/pub/navgoco/src/jquery.cookie.js' | absolute_url }}"></script>
	<!-- Load jquery.navgoco plugin js and css files -->
	<script type="text/javascript" src=" {{ '/pub/navgoco/src/jquery.navgoco.js' | absolute_url }}"></script>
	<link rel="stylesheet" href="{{ '/pub/navgoco/src/jquery.navgoco.css' | absolute_url }}" type="text/css" media="screen" />
<!-- /Navgoco -->  

<link rel="stylesheet" href="{{ '/pub/css/custom.css' | absolute_url }}">
  <!-- <script src="https://kit.fontawesome.com/245306b796.js" crossorigin="anonymous"></script> -->

  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ '/pub/apple-touch-icon-precomposed.png' | absolute_url }}">
  <link rel="shortcut icon" href="{{ '/pub/favicon.ico' | absolute_url }}">

  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ '/atom.xml' | absolute_url }}">
  <meta name="google-site-verification" content="K_Uk_4NFjVldd4KT2ItQ31vxen5AHZaX9I15yeWWCMs" />
  {% if site.google_analytics_id %}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', '{{ site.google_analytics_id }}', 'auto');
    ga('send', 'pageview');
  </script>
  {% endif %}
  {% seo %}
</head>
