<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->

     
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <!-- Gravatar -->
  <div class="sidebar-logo" style="align:center">

    <img src="{{ '/pub/images/pirat_tux.jpg' | absolute_url }}" />
    <!-- <img src="http://www.gravatar.com/avatar/{{ site.author.gravatar_md5 }}?s=120" /> -->
  </div>
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

    <a class="sidebar-nav-item{% if page.title == 'Home' %} active{% endif %}" href="{{ '/' | absolute_url }}">Home</a>

    {% comment %}
    The code below dynamically generates a sidebar nav of pages with
    `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}
    <script type="text/javascript">
      $(document).ready(function() {
        $('.nav').navgoco();
      });
    </script>

    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          {%if node.sidebar == "master" %}
            <ul class="nav sidebar-item">
              <li><a href="#">{{ node.title }}</a>
                <ul>
                  {% assign mbed_sort_lesson = site.mbed | sort: "lesson" %}
                  {% for mb in mbed_sort_lesson %}
                  <li><a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ mb.url | absolute_url }}">{{ mb.title }}</a></li>
                  {% endfor %}
                </ul>
              </li>
            </ul>
          {% else %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url | absolute_url }}">{{
            node.title }}</a>
          {% endif %}
        {% endif %}
      {% endif %}
    {% endfor %}

    <!-- <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a>
    <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a> -->
    <span class="sidebar-nav-item">Actuellement v{{ site.version }}</span>
  </nav>



  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. Copyleft
    </p>
  </div>

  <div class="sidebar-item">
    <!-- contact icons go here -->
    <i class="fas fa-puzzle-piece" aria-hidden="true"></i><a href="mailto:sebastien@prouff.xyz"> Contactez moi</a>
  </div>
</div>