.section-nav {
  /* position: sticky !important; /* added to make toc scroll with page */
  /* float: right !important; added to make toc scroll with page */
  background-color: #fff;
  margin: 5px 0;
  padding: 10px 30px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
}

.sidebar-logo {
    padding: 1.5rem;
}

.sidebar-logo img {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 160px;
    margin: 0 auto;
}

.masthead {
    background-color: lightgray;
  }
 
  .masthead-title small {
    color: darkred;
  }


.nav {
    display: block;
}

 .nav a {
    color: white;
  }

