---
layout: default
---

<div class="page">
  <h1 class="page-title">{{ page.title }}</h1>
  <!-- {{ content }} -->
  <div>
    <div id="table-of-contents">
      {{ content | toc_only }}
    </div>
    <div id="markdown-content">
      {{ content | inject_anchors }}
    </div>
  </div>
</div>
